In [5]:
# tickets for each day of the month API

In [6]:
import requests
import pandas as pd
url = "https://api.travelpayouts.com/v1/prices/calendar"
querystring = {"depart_date":"2019-11","origin":"PHX","destination":"LAX","calendar_type":"departure_date","currency":"USD"}
headers = {'x-access-token': 'ed6b78b7b8edbc7d0fb93a75c7b3a308'}
response = requests.request("GET", url, headers=headers, params=querystring)
data = response.json().get('data', [])
if len(data) > 0:
    lax_df = pd.DataFrame(data)
    lax_df = lax_df.assign(
        origin=querystring['origin'],
        destination=querystring['destination']
    )
    print(lax_df.head())
else:
    print("No flights found for the given query parameters.")

              2023-05-04 2023-05-05 2023-05-06 2023-05-07 2023-05-08  \
origin               PHX        PHX        PHX        PHX        PHX
destination          LAX        LAX        LAX        LAX        LAX
price                219        143        134        249        128
airline               9X         NK         F9                    NK
flight_number        810       1284       2779       4020       1284

              2023-05-09 2023-05-10 2023-05-11 2023-05-12 2023-05-13  ...  \
origin               PHX        PHX        PHX        PHX        PHX  ...
destination          LAX        LAX        LAX        LAX        LAX  ...
price                108         47        159        461        105  ...
airline               NK         F9         NK         G4         NK  ...
flight_number       2043       2779       2043       3214       2043  ...

              2024-03-06 2024-03-07 2024-03-08 2024-03-09 2024-03-10  \
origin               PHX        PHX        PHX        PHX        PHX
destination          LAX        LAX        LAX        LAX        LAX
price                485        525        453        394        167
airline                                                AS         UA
flight_number       4536       4451       4063        645       1680

              2024-03-11 2024-03-13 2024-03-22 origin destination
origin               PHX        PHX        PHX    PHX         LAX
destination          LAX        LAX        LAX    PHX         LAX
price                562        157        537    PHX         LAX
airline                          UA               PHX         LAX
flight_number       4466       1395       4451    PHX         LAX

[5 rows x 285 columns]

In [7]:
lax_df_new = lax_df.T

In [8]:
print(lax_df.T)

            origin destination price airline flight_number  \
2023-05-04     PHX         LAX   219      9X           810
2023-05-05     PHX         LAX   143      NK          1284
2023-05-06     PHX         LAX   134      F9          2779
2023-05-07     PHX         LAX   249                  4020
2023-05-08     PHX         LAX   128      NK          1284
...            ...         ...   ...     ...           ...
2024-03-11     PHX         LAX   562                  4466
2024-03-13     PHX         LAX   157      UA          1395
2024-03-22     PHX         LAX   537                  4451
origin         PHX         PHX   PHX     PHX           PHX
destination    LAX         LAX   LAX     LAX           LAX

                          departure_at                  return_at transfers  \
2023-05-04   2023-05-04T12:15:00-07:00  2023-05-05T06:05:00-07:00         1
2023-05-05   2023-05-05T20:50:00-07:00  2023-05-09T20:45:00-07:00         1
2023-05-06   2023-05-06T08:00:00-07:00  2023-05-10T10:19:00-07:00         0
2023-05-07   2023-05-06T18:51:00-07:00  2023-05-28T08:05:00-07:00         0
2023-05-08   2023-05-08T20:50:00-07:00  2023-05-11T08:45:00-07:00         1
...                                ...                        ...       ...
2024-03-11   2024-03-11T08:10:00-07:00  2024-03-15T16:55:00-07:00         0
2024-03-13   2024-03-13T06:00:00-07:00  2024-03-27T08:40:00-07:00         0
2024-03-22   2024-03-22T13:30:00-07:00  2024-03-25T13:17:00-07:00         0
origin                             PHX                        PHX       PHX
destination                        LAX                        LAX       LAX

                       expires_at
2023-05-04   2023-05-05T05:25:16Z
2023-05-05   2023-05-05T05:25:16Z
2023-05-06   2023-05-05T05:25:16Z
2023-05-07   2023-05-05T05:25:16Z
2023-05-08   2023-05-05T05:25:16Z
...                           ...
2024-03-11   2023-05-05T05:25:16Z
2024-03-13   2023-05-05T05:25:16Z
2024-03-22   2023-05-05T05:25:16Z
origin                        PHX
destination                   LAX

[285 rows x 9 columns]

In [9]:
lax_df.T.head(10)

,origin,destination,price,airline,flight_number,departure_at,return_at,transfers,expires_at
2023-05-04,PHX,LAX,219,9X,810,2023-05-04T12:15:00-07:00,2023-05-05T06:05:00-07:00,1,2023-05-05T05:25:16Z
2023-05-05,PHX,LAX,143,NK,1284,2023-05-05T20:50:00-07:00,2023-05-09T20:45:00-07:00,1,2023-05-05T05:25:16Z
2023-05-06,PHX,LAX,134,F9,2779,2023-05-06T08:00:00-07:00,2023-05-10T10:19:00-07:00,0,2023-05-05T05:25:16Z
2023-05-07,PHX,LAX,249,,4020,2023-05-06T18:51:00-07:00,2023-05-28T08:05:00-07:00,0,2023-05-05T05:25:16Z
2023-05-08,PHX,LAX,128,NK,1284,2023-05-08T20:50:00-07:00,2023-05-11T08:45:00-07:00,1,2023-05-05T05:25:16Z
2023-05-09,PHX,LAX,108,NK,2043,2023-05-09T09:30:00-07:00,2023-05-16T20:45:00-07:00,1,2023-05-05T05:25:16Z
2023-05-10,PHX,LAX,47,F9,2779,2023-05-10T08:00:00-07:00,2023-06-03T21:00:00-07:00,0,2023-05-05T05:25:16Z
2023-05-11,PHX,LAX,159,NK,2043,2023-05-11T09:30:00-07:00,2023-05-14T20:30:00-07:00,1,2023-05-05T05:25:16Z
2023-05-12,PHX,LAX,461,G4,3214,2023-05-12T18:45:00-07:00,2023-05-14T18:05:00-07:00,3,2023-05-05T05:25:16Z
2023-05-13,PHX,LAX,105,NK,2043,2023-05-13T09:30:00-07:00,2023-05-16T20:45:00-07:00,1,2023-05-05T05:25:16Z

In [10]:
import requests
import pandas as pd
url = "https://api.travelpayouts.com/v1/prices/calendar"
querystring = {"depart_date":"2019-11","origin":"PHX","destination":"JFK","calendar_type":"departure_date","currency":"USD"}
headers = {'x-access-token': 'ed6b78b7b8edbc7d0fb93a75c7b3a308'}
response = requests.request("GET", url, headers=headers, params=querystring)
data = response.json().get('data', [])
if len(data) > 0:
    jfk_df = pd.DataFrame(data)
    jfk_df = jfk_df.assign(
        origin=querystring['origin'],
        destination=querystring['destination']
    )
    print(jfk_df.head())
else:
    print("No flights found for the given query parameters.")

              2023-05-04 2023-05-05 2023-05-06 2023-05-07 2023-05-08  \
origin               PHX        PHX        PHX        PHX        PHX
destination          NYC        NYC        NYC        NYC        NYC
price                518        518        419        437        447
airline               AS         AS         AS         DL
flight_number        763        763        611        673       4020

              2023-05-09 2023-05-10 2023-05-11 2023-05-12 2023-05-13  ...  \
origin               PHX        PHX        PHX        PHX        PHX  ...
destination          NYC        NYC        NYC        NYC        NYC  ...
price                387        347        348        476        347  ...
airline               DL         DL         F9         AS         B6  ...
flight_number       1359        338       3528        637        136  ...

              2024-03-07 2024-03-08 2024-03-09 2024-03-10 2024-03-12  \
origin               PHX        PHX        PHX        PHX        PHX
destination          NYC        NYC        NYC        NYC        NYC
price                337        602        337        337        317
airline               B6         DL         B6         B6         DL
flight_number         36        707         36        136        383

              2024-03-13 2024-03-15 2024-03-16 origin destination
origin               PHX        PHX        PHX    PHX         JFK
destination          NYC        NYC        NYC    PHX         JFK
price                337        502        417    PHX         JFK
airline               B6         DL         B6    PHX         JFK
flight_number        136        679        136    PHX         JFK

[5 rows x 274 columns]

In [11]:
jfk_df_new = jfk_df.T

In [12]:
print(jfk_df.T)

            origin destination price airline flight_number  \
2023-05-04     PHX         NYC   518      AS           763
2023-05-05     PHX         NYC   518      AS           763
2023-05-06     PHX         NYC   419      AS           611
2023-05-07     PHX         NYC   437      DL           673
2023-05-08     PHX         NYC   447                  4020
...            ...         ...   ...     ...           ...
2024-03-13     PHX         NYC   337      B6           136
2024-03-15     PHX         NYC   502      DL           679
2024-03-16     PHX         NYC   417      B6           136
origin         PHX         PHX   PHX     PHX           PHX
destination    JFK         JFK   JFK     JFK           JFK

                          departure_at                  return_at transfers  \
2023-05-04   2023-05-04T16:40:00-07:00  2023-05-07T18:55:00-04:00         1
2023-05-05   2023-05-05T16:40:00-07:00  2023-05-07T18:55:00-04:00         1
2023-05-06   2023-05-06T18:50:00-07:00  2023-05-07T18:55:00-04:00         1
2023-05-07   2023-05-06T23:15:00-07:00  2023-05-27T18:59:00-04:00         0
2023-05-08   2023-05-07T18:13:00-07:00  2023-05-31T18:59:00-04:00         1
...                                ...                        ...       ...
2024-03-13   2024-03-12T21:25:00-07:00  2024-03-16T17:30:00-04:00         0
2024-03-15   2024-03-15T06:00:00-07:00  2024-03-18T20:10:00-04:00         0
2024-03-16   2024-03-15T21:25:00-07:00  2024-03-18T17:30:00-04:00         0
origin                             PHX                        PHX       PHX
destination                        JFK                        JFK       JFK

                       expires_at
2023-05-04   2023-05-05T05:25:18Z
2023-05-05   2023-05-05T05:25:18Z
2023-05-06   2023-05-05T05:25:17Z
2023-05-07   2023-05-05T05:25:17Z
2023-05-08   2023-05-05T05:25:17Z
...                           ...
2024-03-13   2023-05-05T05:25:17Z
2024-03-15   2023-05-05T05:25:18Z
2024-03-16   2023-05-05T05:25:17Z
origin                        PHX
destination                   JFK

[274 rows x 9 columns]

In [13]:
jfk_df.T.head()

,origin,destination,price,airline,flight_number,departure_at,return_at,transfers,expires_at
2023-05-04,PHX,NYC,518,AS,763,2023-05-04T16:40:00-07:00,2023-05-07T18:55:00-04:00,1,2023-05-05T05:25:18Z
2023-05-05,PHX,NYC,518,AS,763,2023-05-05T16:40:00-07:00,2023-05-07T18:55:00-04:00,1,2023-05-05T05:25:18Z
2023-05-06,PHX,NYC,419,AS,611,2023-05-06T18:50:00-07:00,2023-05-07T18:55:00-04:00,1,2023-05-05T05:25:17Z
2023-05-07,PHX,NYC,437,DL,673,2023-05-06T23:15:00-07:00,2023-05-27T18:59:00-04:00,0,2023-05-05T05:25:17Z
2023-05-08,PHX,NYC,447,,4020,2023-05-07T18:13:00-07:00,2023-05-31T18:59:00-04:00,1,2023-05-05T05:25:17Z

In [14]:
import requests
import pandas as pd
url = "https://api.travelpayouts.com/v1/prices/calendar"
querystring = {"depart_date":"2019-11","origin":"PHX","destination":"ORD","calendar_type":"departure_date","currency":"USD"}
headers = {'x-access-token': 'ed6b78b7b8edbc7d0fb93a75c7b3a308'}
response = requests.request("GET", url, headers=headers, params=querystring)
data = response.json().get('data', [])
if len(data) > 0:
    chicago_df = pd.DataFrame(data)
    chicago_df = chicago_df.assign(
        origin=querystring['origin'],
        destination=querystring['destination']
    )
    print(chicago_df.head())
else:
    print("No flights found for the given query parameters.")

              2023-05-04 2023-05-05 2023-05-06 2023-05-07 2023-05-08  \
origin               PHX        PHX        PHX        PHX        PHX
destination          CHI        CHI        CHI        CHI        CHI
price                453        373        283        278        257
airline               UA         NK         F9         NK         F9
flight_number       1253       2043       1286       1284       1286

              2023-05-09 2023-05-10 2023-05-11 2023-05-12 2023-05-13  ...  \
origin               PHX        PHX        PHX        PHX        PHX  ...
destination          CHI        CHI        CHI        CHI        CHI  ...
price                132        167        168        185        130  ...
airline               F9         F9         F9         F9         F9  ...
flight_number       1286       1286       2334       3526       2334  ...

              2023-12-23 2023-12-24 2024-01-01 2024-01-02 2024-01-03  \
origin               PHX        PHX        PHX        PHX        PHX
destination          CHI        CHI        CHI        CHI        CHI
price                574        722        464        501        565
airline               DL         UA         DL         UA
flight_number        795       1565        567       1056       3358

              2024-01-31 2024-02-15 2024-03-15 origin destination
origin               PHX        PHX        PHX    PHX         ORD
destination          CHI        CHI        CHI    PHX         ORD
price                363        449        446    PHX         ORD
airline               UA         AS         UA    PHX         ORD
flight_number       1565        605       2484    PHX         ORD

[5 rows x 225 columns]

In [15]:
chicago_df_new = chicago_df.T

In [16]:
print(chicago_df.T)

            origin destination price airline flight_number  \
2023-05-04     PHX         CHI   453      UA          1253
2023-05-05     PHX         CHI   373      NK          2043
2023-05-06     PHX         CHI   283      F9          1286
2023-05-07     PHX         CHI   278      NK          1284
2023-05-08     PHX         CHI   257      F9          1286
...            ...         ...   ...     ...           ...
2024-01-31     PHX         CHI   363      UA          1565
2024-02-15     PHX         CHI   449      AS           605
2024-03-15     PHX         CHI   446      UA          2484
origin         PHX         PHX   PHX     PHX           PHX
destination    ORD         ORD   ORD     ORD           ORD

                          departure_at                  return_at transfers  \
2023-05-04   2023-05-04T14:45:00-07:00  2023-05-31T21:05:00-05:00         0
2023-05-05   2023-05-05T09:30:00-07:00  2023-05-09T18:26:00-05:00         1
2023-05-06   2023-05-06T20:55:00-07:00  2023-05-09T18:26:00-05:00         1
2023-05-07   2023-05-07T20:50:00-07:00  2023-05-17T22:52:00-05:00         1
2023-05-08   2023-05-07T20:55:00-07:00  2023-05-09T18:26:00-05:00         1
...                                ...                        ...       ...
2024-01-31   2024-01-31T19:35:00-07:00  2024-02-02T07:30:00-06:00         0
2024-02-15   2024-02-15T06:00:00-07:00  2024-02-18T16:15:00-06:00         1
2024-03-15   2024-03-14T23:59:00-07:00  2024-03-17T05:00:00-05:00         1
origin                             PHX                        PHX       PHX
destination                        ORD                        ORD       ORD

                       expires_at
2023-05-04   2023-05-05T05:25:19Z
2023-05-05   2023-05-05T05:25:19Z
2023-05-06   2023-05-05T05:25:19Z
2023-05-07   2023-05-05T05:25:19Z
2023-05-08   2023-05-05T05:25:19Z
...                           ...
2024-01-31   2023-05-05T05:25:19Z
2024-02-15   2023-05-05T05:25:19Z
2024-03-15   2023-05-05T05:25:19Z
origin                        PHX
destination                   ORD

[225 rows x 9 columns]

In [17]:
chicago_df.T.head()

,origin,destination,price,airline,flight_number,departure_at,return_at,transfers,expires_at
2023-05-04,PHX,CHI,453,UA,1253,2023-05-04T14:45:00-07:00,2023-05-31T21:05:00-05:00,0,2023-05-05T05:25:19Z
2023-05-05,PHX,CHI,373,NK,2043,2023-05-05T09:30:00-07:00,2023-05-09T18:26:00-05:00,1,2023-05-05T05:25:19Z
2023-05-06,PHX,CHI,283,F9,1286,2023-05-06T20:55:00-07:00,2023-05-09T18:26:00-05:00,1,2023-05-05T05:25:19Z
2023-05-07,PHX,CHI,278,NK,1284,2023-05-07T20:50:00-07:00,2023-05-17T22:52:00-05:00,1,2023-05-05T05:25:19Z
2023-05-08,PHX,CHI,257,F9,1286,2023-05-07T20:55:00-07:00,2023-05-09T18:26:00-05:00,1,2023-05-05T05:25:19Z

In [18]:
import requests
import pandas as pd
url = "https://api.travelpayouts.com/v1/prices/calendar"
querystring = {"depart_date":"2019-11","origin":"PHX","destination":"MIA","calendar_type":"departure_date","currency":"USD"}
headers = {'x-access-token': 'ed6b78b7b8edbc7d0fb93a75c7b3a308'}
response = requests.request("GET", url, headers=headers, params=querystring)
data = response.json().get('data', [])
if len(data) > 0:
    miami_df = pd.DataFrame(data)
    miami_df = miami_df.assign(
        origin=querystring['origin'],
        destination=querystring['destination']
    )
    print(miami_df.head())
else:
    print("No flights found for the given query parameters.")

              2023-05-04 2023-05-05 2023-05-06 2023-05-07 2023-05-08  \
origin               PHX        PHX        PHX        PHX        PHX
destination          MIA        MIA        MIA        MIA        MIA
price                411        247        463        340        197
airline               NK         F9         DL         NK         F9
flight_number       2043       2151        710       2043       2986

              2023-05-09 2023-05-10 2023-05-11 2023-05-12 2023-05-13  ...  \
origin               PHX        PHX        PHX        PHX        PHX  ...
destination          MIA        MIA        MIA        MIA        MIA  ...
price                270        184        223        234        290  ...
airline               NK         F9         F9         NK         NK  ...
flight_number       2043        754       3516       2043       2043  ...

              2024-03-16 2024-03-17 2024-03-18 2024-03-19 2024-03-21  \
origin               PHX        PHX        PHX        PHX        PHX
destination          MIA        MIA        MIA        MIA        MIA
price                611        615        660        490        670
airline               DL         DL         DL         DL         DL
flight_number        796        710        796        383        796

              2024-03-22 2024-03-23 2024-04-12 origin destination
origin               PHX        PHX        PHX    PHX         MIA
destination          MIA        MIA        MIA    PHX         MIA
price                835        836        444    PHX         MIA
airline               B6         DL         UA    PHX         MIA
flight_number       1302        352       1333    PHX         MIA

[5 rows x 284 columns]

In [19]:
miami_df_new = chicago_df.T

In [20]:
print(miami_df.T)

            origin destination price airline flight_number  \
2023-05-04     PHX         MIA   411      NK          2043
2023-05-05     PHX         MIA   247      F9          2151
2023-05-06     PHX         MIA   463      DL           710
2023-05-07     PHX         MIA   340      NK          2043
2023-05-08     PHX         MIA   197      F9          2986
...            ...         ...   ...     ...           ...
2024-03-22     PHX         MIA   835      B6          1302
2024-03-23     PHX         MIA   836      DL           352
2024-04-12     PHX         MIA   444      UA          1333
origin         PHX         PHX   PHX     PHX           PHX
destination    MIA         MIA   MIA     MIA           MIA

                          departure_at                  return_at transfers  \
2023-05-04   2023-05-04T08:33:00-07:00  2023-05-15T22:07:00-04:00         1
2023-05-05   2023-05-05T22:43:00-07:00  2023-05-07T05:40:00-04:00         1
2023-05-06   2023-05-06T06:00:00-07:00  2023-05-26T14:11:00-04:00         1
2023-05-07   2023-05-07T09:30:00-07:00  2023-05-13T15:15:00-04:00         1
2023-05-08   2023-05-08T11:23:00-07:00  2023-05-15T06:15:00-04:00         1
...                                ...                        ...       ...
2024-03-22   2024-03-21T21:55:00-07:00  2024-03-25T10:15:00-04:00         1
2024-03-23   2024-03-23T15:00:00-07:00  2024-03-30T08:55:00-04:00         1
2024-04-12   2024-04-12T13:20:00-07:00  2024-04-17T07:00:00-04:00         1
origin                             PHX                        PHX       PHX
destination                        MIA                        MIA       MIA

                       expires_at
2023-05-04   2023-05-05T05:25:20Z
2023-05-05   2023-05-05T05:25:20Z
2023-05-06   2023-05-05T05:25:20Z
2023-05-07   2023-05-05T05:25:20Z
2023-05-08   2023-05-05T05:25:20Z
...                           ...
2024-03-22   2023-05-05T05:25:20Z
2024-03-23   2023-05-05T05:25:20Z
2024-04-12   2023-05-05T05:25:20Z
origin                        PHX
destination                   MIA

[284 rows x 9 columns]

In [21]:
miami_df.T.head()

,origin,destination,price,airline,flight_number,departure_at,return_at,transfers,expires_at
2023-05-04,PHX,MIA,411,NK,2043,2023-05-04T08:33:00-07:00,2023-05-15T22:07:00-04:00,1,2023-05-05T05:25:20Z
2023-05-05,PHX,MIA,247,F9,2151,2023-05-05T22:43:00-07:00,2023-05-07T05:40:00-04:00,1,2023-05-05T05:25:20Z
2023-05-06,PHX,MIA,463,DL,710,2023-05-06T06:00:00-07:00,2023-05-26T14:11:00-04:00,1,2023-05-05T05:25:20Z
2023-05-07,PHX,MIA,340,NK,2043,2023-05-07T09:30:00-07:00,2023-05-13T15:15:00-04:00,1,2023-05-05T05:25:20Z
2023-05-08,PHX,MIA,197,F9,2986,2023-05-08T11:23:00-07:00,2023-05-15T06:15:00-04:00,1,2023-05-05T05:25:20Z

In [22]:
import requests
import pandas as pd
url = "https://api.travelpayouts.com/v1/prices/calendar"
querystring = {"depart_date":"2019-11","origin":"PHX","destination":"LAS","calendar_type":"departure_date","currency":"USD"}
headers = {'x-access-token': 'ed6b78b7b8edbc7d0fb93a75c7b3a308'}
response = requests.request("GET", url, headers=headers, params=querystring)
data = response.json().get('data', [])
if len(data) > 0:
    vegas_df = pd.DataFrame(data)
    vegas_df = vegas_df.assign(
        origin=querystring['origin'],
        destination=querystring['destination']
    )
    print(vegas_df.head())
else:
    print("No flights found for the given query parameters.")

              2023-05-04 2023-05-05 2023-05-06 2023-05-07 2023-05-08  \
origin               PHX        PHX        PHX        PHX        PHX
destination          LAS        LAS        LAS        LAS        LAS
price                103        187         57         98        411
airline               NK         NK         F9         F9         G4
flight_number       2043       2043       2151       2153       3214

              2023-05-09 2023-05-10 2023-05-11 2023-05-12 2023-05-13  ...  \
origin               PHX        PHX        PHX        PHX        PHX  ...
destination          LAS        LAS        LAS        LAS        LAS  ...
price                 47         47         47        129         56  ...
airline               F9         F9         F9         F9         NK  ...
flight_number       2151       2151       2151       3473       2043  ...

              2024-02-16 2024-02-17 2024-02-24 2024-02-25 2024-03-01  \
origin               PHX        PHX        PHX        PHX        PHX
destination          LAS        LAS        LAS        LAS        LAS
price                758        372        372        256        594
airline                          UA         UA         UA
flight_number       3464       1892       1395       1892       3464

              2024-03-21 2024-03-22 2024-03-23 origin destination
origin               PHX        PHX        PHX    PHX         LAS
destination          LAS        LAS        LAS    PHX         LAS
price                305        305        372    PHX         LAS
airline               UA         UA         UA    PHX         LAS
flight_number       1680       1680       1892    PHX         LAS

[5 rows x 225 columns]

In [23]:
vegas_df_new = chicago_df.T

In [24]:
print(vegas_df.T)

            origin destination price airline flight_number  \
2023-05-04     PHX         LAS   103      NK          2043
2023-05-05     PHX         LAS   187      NK          2043
2023-05-06     PHX         LAS    57      F9          2151
2023-05-07     PHX         LAS    98      F9          2153
2023-05-08     PHX         LAS   411      G4          3214
...            ...         ...   ...     ...           ...
2024-03-21     PHX         LAS   305      UA          1680
2024-03-22     PHX         LAS   305      UA          1680
2024-03-23     PHX         LAS   372      UA          1892
origin         PHX         PHX   PHX     PHX           PHX
destination    LAS         LAS   LAS     LAS           LAS

                          departure_at                  return_at transfers  \
2023-05-04   2023-05-04T08:33:00-07:00  2023-05-13T07:15:00-07:00         0
2023-05-05   2023-05-05T09:30:00-07:00  2023-05-09T07:15:00-07:00         0
2023-05-06   2023-05-06T22:13:00-07:00  2023-05-09T22:55:00-07:00         0
2023-05-07   2023-05-07T14:55:00-07:00  2023-05-09T22:55:00-07:00         0
2023-05-08   2023-05-08T18:45:00-07:00  2023-05-10T07:00:00-07:00         2
...                                ...                        ...       ...
2024-03-21   2024-03-21T16:35:00-07:00  2024-03-25T06:00:00-07:00         1
2024-03-22   2024-03-22T16:35:00-07:00  2024-03-25T06:00:00-07:00         1
2024-03-23   2024-03-22T18:55:00-07:00  2024-03-25T06:00:00-07:00         1
origin                             PHX                        PHX       PHX
destination                        LAS                        LAS       LAS

                       expires_at
2023-05-04   2023-05-05T05:25:21Z
2023-05-05   2023-05-05T05:25:21Z
2023-05-06   2023-05-05T05:25:21Z
2023-05-07   2023-05-05T05:25:21Z
2023-05-08   2023-05-05T05:25:21Z
...                           ...
2024-03-21   2023-05-05T05:25:21Z
2024-03-22   2023-05-05T05:25:21Z
2024-03-23   2023-05-05T05:25:21Z
origin                        PHX
destination                   LAS

[225 rows x 9 columns]

In [25]:
vegas_df.T.head()

,origin,destination,price,airline,flight_number,departure_at,return_at,transfers,expires_at
2023-05-04,PHX,LAS,103,NK,2043,2023-05-04T08:33:00-07:00,2023-05-13T07:15:00-07:00,0,2023-05-05T05:25:21Z
2023-05-05,PHX,LAS,187,NK,2043,2023-05-05T09:30:00-07:00,2023-05-09T07:15:00-07:00,0,2023-05-05T05:25:21Z
2023-05-06,PHX,LAS,57,F9,2151,2023-05-06T22:13:00-07:00,2023-05-09T22:55:00-07:00,0,2023-05-05T05:25:21Z
2023-05-07,PHX,LAS,98,F9,2153,2023-05-07T14:55:00-07:00,2023-05-09T22:55:00-07:00,0,2023-05-05T05:25:21Z
2023-05-08,PHX,LAS,411,G4,3214,2023-05-08T18:45:00-07:00,2023-05-10T07:00:00-07:00,2,2023-05-05T05:25:21Z

In [26]:
df_concat = pd.concat([jfk_df.T, lax_df.T, miami_df.T, chicago_df.T, vegas_df.T], axis=0)
print(df_concat)

            origin destination price airline flight_number  \
2023-05-04     PHX         NYC   518      AS           763
2023-05-05     PHX         NYC   518      AS           763
2023-05-06     PHX         NYC   419      AS           611
2023-05-07     PHX         NYC   437      DL           673
2023-05-08     PHX         NYC   447                  4020
...            ...         ...   ...     ...           ...
2024-03-21     PHX         LAS   305      UA          1680
2024-03-22     PHX         LAS   305      UA          1680
2024-03-23     PHX         LAS   372      UA          1892
origin         PHX         PHX   PHX     PHX           PHX
destination    LAS         LAS   LAS     LAS           LAS

                          departure_at                  return_at transfers  \
2023-05-04   2023-05-04T16:40:00-07:00  2023-05-07T18:55:00-04:00         1
2023-05-05   2023-05-05T16:40:00-07:00  2023-05-07T18:55:00-04:00         1
2023-05-06   2023-05-06T18:50:00-07:00  2023-05-07T18:55:00-04:00         1
2023-05-07   2023-05-06T23:15:00-07:00  2023-05-27T18:59:00-04:00         0
2023-05-08   2023-05-07T18:13:00-07:00  2023-05-31T18:59:00-04:00         1
...                                ...                        ...       ...
2024-03-21   2024-03-21T16:35:00-07:00  2024-03-25T06:00:00-07:00         1
2024-03-22   2024-03-22T16:35:00-07:00  2024-03-25T06:00:00-07:00         1
2024-03-23   2024-03-22T18:55:00-07:00  2024-03-25T06:00:00-07:00         1
origin                             PHX                        PHX       PHX
destination                        LAS                        LAS       LAS

                       expires_at
2023-05-04   2023-05-05T05:25:18Z
2023-05-05   2023-05-05T05:25:18Z
2023-05-06   2023-05-05T05:25:17Z
2023-05-07   2023-05-05T05:25:17Z
2023-05-08   2023-05-05T05:25:17Z
...                           ...
2024-03-21   2023-05-05T05:25:21Z
2024-03-22   2023-05-05T05:25:21Z
2024-03-23   2023-05-05T05:25:21Z
origin                        PHX
destination                   LAS

[1293 rows x 9 columns]

In [27]:
df_concat.head()

,origin,destination,price,airline,flight_number,departure_at,return_at,transfers,expires_at
2023-05-04,PHX,NYC,518,AS,763,2023-05-04T16:40:00-07:00,2023-05-07T18:55:00-04:00,1,2023-05-05T05:25:18Z
2023-05-05,PHX,NYC,518,AS,763,2023-05-05T16:40:00-07:00,2023-05-07T18:55:00-04:00,1,2023-05-05T05:25:18Z
2023-05-06,PHX,NYC,419,AS,611,2023-05-06T18:50:00-07:00,2023-05-07T18:55:00-04:00,1,2023-05-05T05:25:17Z
2023-05-07,PHX,NYC,437,DL,673,2023-05-06T23:15:00-07:00,2023-05-27T18:59:00-04:00,0,2023-05-05T05:25:17Z
2023-05-08,PHX,NYC,447,,4020,2023-05-07T18:13:00-07:00,2023-05-31T18:59:00-04:00,1,2023-05-05T05:25:17Z

In [28]:
df_concat.tail()

,origin,destination,price,airline,flight_number,departure_at,return_at,transfers,expires_at
2024-03-21,PHX,LAS,305,UA,1680,2024-03-21T16:35:00-07:00,2024-03-25T06:00:00-07:00,1,2023-05-05T05:25:21Z
2024-03-22,PHX,LAS,305,UA,1680,2024-03-22T16:35:00-07:00,2024-03-25T06:00:00-07:00,1,2023-05-05T05:25:21Z
2024-03-23,PHX,LAS,372,UA,1892,2024-03-22T18:55:00-07:00,2024-03-25T06:00:00-07:00,1,2023-05-05T05:25:21Z
origin,PHX,PHX,PHX,PHX,PHX,PHX,PHX,PHX,PHX
destination,LAS,LAS,LAS,LAS,LAS,LAS,LAS,LAS,LAS

In [29]:
# Create the output file (CSV).
output_data_file = "../Group3/monthly_tickets.csv"
# Export the data into a CSV.
df_concat.to_csv(output_data_file)